<h1>Movies</h1>

<p>Sort By:</p>
<a href="/movies?order=title">Title</a> <a href="/movies?order=year">Year</a> <a href="/movies?order=rating">Rating</a>

<br>
<table>
  <tr>
    <th>Title</th>
    <th>Year</th>
    <th>Rating</th>
    <th>Genre</th>
    <th>Studio</th>
  </tr>
  <% @movies.each do |movie|%>
  <tr>
    <td><a href= "/movies/<%= movie["id"]%>"><%= movie["title"]%></a></td>
    <td><%= movie["year"]%></td>
    <td><%= movie["rating"]%></td>
    <td><%= movie["genre"]%></td>
    <td><%= movie["studio"]%></td>
  </tr>
  <% end %>
</table>
